body{
    background-color: lightgray;
}
h1{
    color: darkblue;
    text-align: center;
    text-transform: capitalize ;
}

button{
    background-color: rgb(120, 225, 130);
}
button:hover{
    background-color: darkgreen;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}
#mainTitle{
    color: orange;
}
.description{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.formbox{
    background-color: whitesmoke;
    padding: 30px;
    border: 3px solid black;
    border-width: 10px;
    margin: 20px auto;
}
input, select, textarea{
    width: 100%;
    padding: 8px;
    margin: 5px;
    margin-bottom: 10px ;
    border-radius: 5px;
}
input:focus, select:focus, textarea:focus{
    border: 2px solid blue;
    outline: none;
}
.imagebox{
    display: block;
    text-align: center;
    border-color: blue;
    border-radius: 5px;
} 